.dark a:hover{
    color:#fff !important;
}
#theme-toggle .hidden{
    display:none !important;
}
select{
    min-height:32px;
    height:100%;
}

@media(max-width:40rem){
#modal-panel,#cert-track>div{
    width: 100%;
}

#modal-panel .sm\:text-left{
    text-align:left;
}

}

@media (min-width: 768px){

.md\:grid-cols-3{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

}

@media (min-width: 1024px){

.md\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

}